# === CONST ===

## General
BUSINESS_TZ=Europe/Moscow
NODE_ENV=development

## DB - Postgres
DB_HOST=127.0.0.1
DB_PORT=5432
DB_NAME=analytics

DB_USER_BACKEND=backend_user
DB_USER_BOT=bot_user
DB_USER_AI=ai_user
DB_USER_CRON=cron_user
DB_USER_BOT_NOTIFICATION=bot_notification_user

## Redis
REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_DB_BACKEND=0
REDIS_DB_BOT=1

# AdonisJS
PORT=3333
HOST=0.0.0.0
LOG_LEVEL=info
APP_URL=http://localhost:3333
SESSION_DRIVER=memory
BACKEND_API_URL=http://backend:3333

# AI
AI_MODULE_URL=http://localhost:3334


# === VARS  ===

## DB - Postgres
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres_root
DB_PASSWORD_BACKEND=secret_backend
DB_PASSWORD_BOT=secret_bot
DB_PASSWORD_AI=secret_ai
DB_PASSWORD_CRON=secret_cron
DB_PASSWORD_BOT_NOTIFICATION=secret_notification

## AI
BASE_URL_AI=
MODEL_NAME_AI=
TOKEN_AI=

## Tg
TELEGRAM_BOT_TOKEN=
USERNAME_DEV=
USER_ID_DEV=

## AdonisJS
APP_KEY=
